<!DOCTYPE html>
<html>
    <head>
        <script>
            window.onload= function(){
                document.getElementById("styleCalendrier").addEventListener("click",function(event)
                {
                    console.log(event.target.dataset['column']);
                    document.getElementById("formulaire").className="";
                });
            }
        </script>
        <link rel="stylesheet" href="calendrier.css" type="text/css" />
        Bonjour {{ login }} ! <br/>
    </head>
    <body>
        {% if login != undefined %}
            Se déconnecter : <a href='/logout'>Cliquez ici</a><br/>
        {% else %}
            Se connecter : <a href='/login'>Cliquez ici</a><br/>
            Créer un compte : <a href='/signup'>Cliquez ici</a><br/>
        {% endif %}
        <div class="cache" id="formulaire"><b>Remplissez le formulaire pour ajouter un événement :</b> <br/>
            <a class="close" href="/">
                <i class="formClose">
                    <b>X</b>
                </i>
            </a>
            <form action="/ajouter" method="post">
                Titre:  <input type="text" name="titre" value="Choisissez un titre"></input><br/>
                Jour : 
                <select name="jour">
                    <option>Lundi</option>
                    <option>Mardi</option>
                    <option>Mercredi</option>
                    <option>Jeudi</option>
                    <option>Vendredi</option>
                    <option>Samedi</option>
                    <option>Dimanche</option>
                </select><br/>
                Début : 
                <select name="debut">
                {% for j in 0..23 %}
                    {% for i in 0..1 %}
                        <option>
                        {% if j < 10%}0{% endif %}{{j}}:{% if i < 1 %}0{% endif %}{{i*30}}:00
                        </option>
                    {% endfor %}
                {% endfor %}
                </select><br/>
                Fin : 
                <select name="fin">
                {% for j in 0..23 %}
                    {% for i in 0..1 %}
                        <option>
                        {% if j < 10%}0{% endif %}{{j}}:{% if i < 1 %}0{% endif %}{{i*30}}:00
                        </option>
                    {% endfor %}
                {% endfor %}
                </select><br/>
                <input type="submit"/> <br/>
            </form> <br/>
        </div>
        {% if erreur == 1 %}
            <b>Erreur : Date déjà utilisée.</b>
        {% elseif erreur == 2 %}
            <b>Erreur : Pas de titre.</b>
        {% elseif erreur == 3 %}
            <b>Erreur : Pas de date de début.</b>
        {% elseif erreur == 4 %}
            <b>Erreur : Pas de date de fin.</b>
        {% elseif erreur == 5 %}
            <b>Erreur : L'heure de début est après ou en même temps que l'heure de fin.</b>
        {% elseif erreur == 6 %}
            <b>Erreur : Aucun jour n'est rentré.</b>
        {% elseif erreur == 7 %}
            <b>Erreur : Problème de recherche dans la base de données. Veuillez réessayer.</b>
        {% elseif erreur == 8 %}
            <b>Erreur : Un événement est déjà présent au niveau de cette plage horaire.</b>
        {% endif %}
        <br>
        Calendrier : </br>
        <table id="styleCalendrier">
            <tr>
                <td id="vide"></td>
                <td>Lundi</td>
                <td>Mardi</td>
                <td>Mercredi</td>
                <td>Jeudi</td>
                <td>Vendredi</td>
                <td>Samedi</td>
                <td>Dimanche</td>
            </tr>
            {% for i in 0..47 %}
                <tr class="lignes">
                {% for j in 0..7 %}
                    {% if j == 0 %}
                        <td class="horaires">
                            {%if i/2<10%}0{%endif%}{%if i%2==1%}{{i/2-0.5}}{%else%}{{i/2}}{%endif%}:{{i*30%60}}{%if i%2==0%}0{%endif%}
                        </td>
                    {% else %}
                        
                           <td class="colonnes">
                                {% for k in result if result != undefined%}
                                    {% set heure = "" %}
                                    {% if i%2==1%}
                                        {% set heure = heure ~ i/2 - 0.5 ~ ":" %}
                                    {% else %}
                                        {% set heure = heure ~ i/2 ~ ":" %}
                                    {% endif %}
                                    {% set heure = heure ~ i*30%60 %}
                                    {% if i%2==0 %}
                                        {% set heure = heure ~ "0" %}
                                    {% endif %}
                                    {% if i/2<10 %}
                                        {% set heure = 0~heure %}
                                    {% endif %}
                                    {% set heure = heure ~":00"%}
                                    {% if k["jour"] == "Lundi" and j == 1 and k["debut"] >= heure and k["fin"] >= heure %}
                                        <div class="occupe">
                                            {% if k["debut"] == heure %}
                                                {{k["titre"]}}
                                            {% endif %}
                                        </div>
                                    {% elseif k["jour"] == "Mardi" and j == 2 and k["debut"] >= heure and k["fin"] >= heure %}
                                        <div class="occupe">
                                            {% if k["debut"] == heure %}
                                                {{k["titre"]}}
                                            {% endif %}
                                        </div>
                                    {% elseif k["jour"] == "Mercredi" and j == 3 and k["debut"] >= heure and k["fin"] >= heure %}
                                        <div class="occupe">
                                            {% if k["debut"] == heure %}
                                                {{k["titre"]}}
                                            {% endif %}
                                        </div>
                                    {% elseif k["jour"] == "Jeudi" and j == 4 and k["debut"] >= heure and k["fin"] >= heure %}
                                        <div class="occupe">
                                            {% if k["debut"] == heure %}
                                                {{k["titre"]}}
                                            {% endif %}
                                        </div>
                                    {% elseif k["jour"] == "Vendredi" and j == 5 and k["debut"] >= heure and k["fin"] >= heure %}
                                        <div class="occupe">
                                            {% if k["debut"] == heure %}
                                                {{k["titre"]}}
                                            {% endif %}
                                        </div>
                                    {% elseif k["jour"] == "Samedi" and j == 6 and k["debut"] >= heure and k["fin"] >= heure %}
                                        <div class="occupe">
                                            {% if k["debut"] == heure %}
                                                {{k["titre"]}}
                                            {% endif %}
                                        </div>
                                    {% elseif k["jour"] == "Dimanche" and j == 7 and k["debut"] >= heure and k["fin"] >= heure %}
                                        <div class="occupe">
                                            {% if k["debut"] == heure %}
                                                {{k["titre"]}}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </body>
</html>