<!DOCTYPE html>
<html>
    <head>
        <script>
            window.onload= function(){
                document.getElementById("styleCalendrier").addEventListener("click",function(event)
                {
                    console.log(event.target.dataset['column']);
                    document.getElementById("formulaire").className="";
                });
            }
        </script>
        <link rel="stylesheet" href="calendrier.css" type="text/css" />
        Bonjour {{ login }} ! <br/>
    </head>
    <body>
        {% if login != undefined %}
            Se déconnecter : <a href='/logout'>Cliquez ici</a><br/>
        {% else %}
            Se connecter : <a href='/login'>Cliquez ici</a><br/>
            Créer un compte : <a href='/signup'>Cliquez ici</a><br/>
        {% endif %}
        <div class="cache" id="formulaire"><b>Remplissez le formulaire pour ajouter un événement :</b> <br/>
            <a class="close" href="/">
                <i class="formClose">
                    <b>X</b>
                </i>
            </a>
            <form action="/ajouter" method="post">
                Titre:  <input type="text" name="titre" value="Choisissez un titre"></input><br/>
                Jour : 
                <select name="jour">
                    <option>Lundi</option>
                    <option>Mardi</option>
                    <option>Mercredi</option>
                    <option>Jeudi</option>
                    <option>Vendredi</option>
                    <option>Samedi</option>
                    <option>Dimanche</option>
                </select><br/>
                Début : 
                <select name="debut">
                {% for j in 0..23 %}
                    {% for i in 0..1 %}
                        <option>
                        {% if j < 10%}0{% endif %}{{j}}:{% if i < 1 %}0{% endif %}{{i*30}}:00
                        </option>
                    {% endfor %}
                {% endfor %}
                </select><br/>
                Fin : 
                <select name="fin">
                {% for j in 0..23 %}
                    {% for i in 0..1 %}
                        <option>
                        {% if j < 10%}0{% endif %}{{j}}:{% if i < 1 %}0{% endif %}{{i*30}}:00
                        </option>
                    {% endfor %}
                {% endfor %}
                </select><br/>
                <input type="submit"/> <br/>
            </form> <br/>
        </div>
        {% if erreur == 1 %}
            <b>Erreur : Date déjà utilisée.</b>
        {% elseif erreur == 2 %}
            <b>Erreur : Pas de titre.</b>
        {% elseif erreur == 3 %}
            <b>Erreur : Pas de date de début.</b>
        {% elseif erreur == 4 %}
            <b>Erreur : Pas de date de fin.</b>
        {% elseif erreur == 5 %}
            <b>Erreur : L'heure de début est après ou en même temps que l'heure de fin.</b>
        {% elseif erreur == 6 %}
            <b>Erreur : Aucun jour n'est rentré.</b>
        {% elseif erreur == 7 %}
            <b>Erreur : Problème de recherche dans la base de données. Veuillez réessayer.</b>
        {% elseif erreur == 8 %}
            <b>Erreur : Un événement est déjà présent au niveau de cette plage horaire.</b>
        {% endif %}
        <br>
        Calendrier :
        <table id="styleCalendrier"></table>
        <script>
            var jours = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'];
            var calendrier = document.getElementById("styleCalendrier");
            for (var i = 0; i < 49; i++) {
                curr_tr = document.createElement("tr");
                for (var j = 0; j < 8; j++) {
                    var curr_td = document.createElement("td");
                    if (i == 0) {
                        if (j == 0) {
                            curr_td.setAttribute("id", "vide");
                        }
                        else {
                            var curr_tn = document.createTextNode(jours[j-1]);
                            curr_td.appendChild(curr_tn);
                        }
                    }
                    else {
                        curr_tr.setAttribute("class", "lignes");
                        if (j == 0) {
                            curr_td.setAttribute("class", "horaires");
                            var heure = "";
                            var res = (i-1)/2 - 0.5;
                            if((i-1)%2 == 1)
                                heure = heure + res + ":";
                            else
                                heure = heure + (i-1)/2 + ":";
                            heure = heure + (i-1)*30%60;
                            if((i-1)%2 == 0)
                                heure = heure + 0;
                            if((i-1)/2 < 10)
                                heure = 0 + heure;
                            heure = heure + ":00";    // A mettre ou non: Au choix ( Les secondes )
                            var curr_tn = document.createTextNode(heure);
                            curr_td.appendChild(curr_tn);
                        }
                        else {
                            curr_td.setAttribute("class", "colonnes");
                        }
                    }
                    curr_tr.appendChild(curr_td);
                }
                calendrier.appendChild(curr_tr);
            }
            //var evenements = {{ evenements }};
        </script>
    </body>
</html>