<!DOCTYPE html>
<html>
    <head>
        <script>
        var evenements = {{ evenements|json_encode|raw }};
               
            window.onload= function(){
                document.getElementById("styleCalendrier").addEventListener("click",function(event)
                {
                    
                    console.log(event.target.className);
                    if(event.target.className == "close")
                    {
                        console.log("coucou");
                        document.getElementById("formulaireEffacer").className="cache";
                        document.getElementById("formulaire").className="cache";
                    }
                    else if(event.target.className != "occupe" && event.target.className != "formulaire" && event.target.className != "formulaireEffacer")
                        document.getElementById("formulaire").className="";
                    else
                    {
                        document.getElementById("formulaireEffacer").className="";
                    }
                        
                });
                
            };
            var xhr = new XMLHttpRequest();

            xhr.responseType = 'json';
            xhr.onload=function()
            {
                var evenements = {{ evenements|json_encode|raw }};
                return;
            }
            xhr.open("GET",'/liste',true);
            xhr.send();
            
            window.onload=function(){
                setInterval(function(){
                    var evenements = {{ evenements|json_encode|raw }};
                },1000);
            }
        </script>
        <link rel="stylesheet" href="calendrier.css" type="text/css" />
        Bonjour {{ login }} ! <br/>
    </head>
    <body>
        {% if login != undefined %}
            Se déconnecter : <a href='/logout'>Cliquez ici</a><br/>
        {% else %}
            Se connecter : <a href='/login'>Cliquez ici</a><br/>
            Créer un compte : <a href='/signup'>Cliquez ici</a><br/>
        {% endif %}
        <div class="cache" id="formulaireEffacer"><b>Voulez vous effacer cet événement? </b> <br>
            <a class="close" href="/">
                <i class="formClose">
                    <b>X</b>
                </i>
            </a>
            <form action="/effacer" method="post">
                <input type="hidden" name="evenements" value={{result}} />
                <input type="submit" /> <br>
            </form>
        </div>
        <div class="cache" id="formulaire"><b>Remplissez le formulaire pour ajouter un événement :</b> <br>
            <a class="close" href = "/">
                <i class="formClose">
                    <b>X</b>
                </i>
            </a>
            <form action="/ajouter" method="post">
                Titre:  <input type="text" name="titre" value="Choisissez un titre"></input><br/>
                Jour : 
                <select name="jour">
                    <option>Lundi</option>
                    <option>Mardi</option>
                    <option>Mercredi</option>
                    <option>Jeudi</option>
                    <option>Vendredi</option>
                    <option>Samedi</option>
                    <option>Dimanche</option>
                </select><br/>
                Début : 
                <select name="debut">
                {% for j in 0..23 %}
                    {% for i in 0..1 %}
                        <option>
                        {% if j < 10%}0{% endif %}{{j}}:{% if i < 1 %}0{% endif %}{{i*30}}:00
                        </option>
                    {% endfor %}
                {% endfor %}
                </select><br/>
                Fin : 
                <select name="fin">
                {% for j in 0..23 %}
                    {% for i in 0..1 %}
                        <option>
                        {% if j < 10%}0{% endif %}{{j}}:{% if i < 1 %}0{% endif %}{{i*30}}:00
                        </option>
                    {% endfor %}
                {% endfor %}
                </select><br/>
                <input type="submit"/> <br/>
            </form> <br/>
        </div>
        {% if erreur == 1 %}
            <b>Erreur : Date déjà utilisée.</b>
        {% elseif erreur == 2 %}
            <b>Erreur : Pas de titre.</b>
        {% elseif erreur == 3 %}
            <b>Erreur : Pas de date de début.</b>
        {% elseif erreur == 4 %}
            <b>Erreur : Pas de date de fin.</b>
        {% elseif erreur == 5 %}
            <b>Erreur : L'heure de début est après ou en même temps que l'heure de fin.</b>
        {% elseif erreur == 6 %}
            <b>Erreur : Aucun jour n'est rentré.</b>
        {% elseif erreur == 7 %}
            <b>Erreur : Problème de recherche dans la base de données. Veuillez réessayer.</b>
        {% elseif erreur == 8 %}
            <b>Erreur : Un événement est déjà présent au niveau de cette plage horaire.</b>
        {% endif %}
        <br>
        Calendrier :
        <table id="styleCalendrier"></table>
        <script>
            //Jours
            var jours = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'];
            /*var today = new Date();
            var day_offset = today.getDay();
            var d = new Date();
            d.setDate(today.getDate() - (day_offset-1)%7);
            for (var i = 0; i < 7; i++) {
                var jours[i] = d;
                d.setDate(d.getDate() + 1);
            }*/
            //Heures
            var heures = [];
            for (var i = 0; i < 24; i++) {
                var heure = (i<10 ? "0" : "") + i + ":00";
                heures.push(heure);
                heure = (i<10 ? "0" : "") + i + ":30";
                heures.push(heure);
            }
            //Calendrier
            var calendrier = document.getElementById("styleCalendrier");
            for (var i = 0; i < 49; i++) {
                curr_tr = document.createElement("tr");
                for (var j = 0; j < 8; j++) {
                    var curr_td = document.createElement("td");
                    if (i == 0) {
                        if (j == 0) {
                            curr_td.setAttribute("id", "vide");
                        }
                        else {
                            var curr_tn = document.createTextNode(jours[j-1]);
                            curr_td.appendChild(curr_tn);
                        }
                    }
                    else {
                        curr_tr.setAttribute("class", "lignes");
                        if (j == 0) {
                            curr_td.setAttribute("class", "horaires");
                            var curr_tn = document.createTextNode(heures[i-1]);
                            curr_td.appendChild(curr_tn);
                        }
                        else {
                            curr_td.setAttribute("class", "colonnes");
                        }
                    }
                    curr_tr.appendChild(curr_td);
                }
                calendrier.appendChild(curr_tr);
            }
            //Evenements
            {% if evenements != undefined %}
            
            for (var i = 0; i < evenements.length; i++) {
                for (var j = 0; j < 7; j++) {
                    if (jours[j] == evenements[i].jour) {
                        console.log(jours[j]);
                        break;
                    }
                }
                for (var k = 0; k < 48; k++) {
                    var horaire = heures[k] + ":00";
                    if (horaire >= evenements[i].debut) {
                        console.log(horaire);
                        break;
                    }
                }
                for (var l = k+1; l < 48; l++) {
                    horaire = heures[l] + ":00";
                    if (horaire >= evenements[i].fin) {
                        console.log(horaire);
                        break;
                    }
                }
                console.log("jour : " + j + ", debut : " + k + ", fin : " + l);
                var curr_td = document.querySelector('#styleCalendrier>tr:nth-child(' + (k+2) + ')>td:nth-child(' + (j+2) + ')');
                curr_td.setAttribute("class", "occupe");
                
                var curr_tn = document.createTextNode(evenements[i].titre);
                curr_td.appendChild(curr_tn);
                k++;
                while (k != l) {
                    curr_td = document.querySelector('#styleCalendrier>tr:nth-child(' + (k+2) + ')>td:nth-child(' + (j+2) + ')');
                    curr_td.setAttribute("class", "occupe");
                    k++;
                }
            }
            {% endif %}
        </script>
    </body>
</html>