<!DOCTYPE html>
<html>
    <head>
        <script>
        // On gère ici l'ouverture des formulaires en changeant le nom de la classe des formulaires.
            window.onload= function(){
                var formulaire = document.getElementById("formulaire");
                var formulaireEffacer = document.getElementById("formulaireEffacer")
                document.getElementById("styleCalendrier").addEventListener("click",function(event)
                {
                    if(event.target.className != "occupe")
                    {
                         formulaire.className="";
                         formulaireEffacer.className="cache";
                    }
                       
                    else
                    {
                        formulaireEffacer.className="";
                        formulaire.className="cache";
                    }
                });
                document.getElementById("formClose").addEventListener("click",function(event)
                {
                    formulaire.className="cache";
                });
                document.getElementById("formEffClose").addEventListener("click",function(event)
                {
                    formulaireEffacer.className="cache";
                });
            };
            /*window.onload=function(){
                setInterval(function(){
                    
                },1000);
            }*/
        </script>
        <link rel="stylesheet" href="calendrier.css" type="text/css" />
        Bonjour {{ login }} ! <br/>
    </head>
    <body>
        <!-- Redirections vers les connection, déconexion, ou création de compte -->
        {% if login != undefined %}
            Se déconnecter : <a href='/logout'>Cliquez ici</a><br/>
        {% else %}
            Se connecter : <a href='/login'>Cliquez ici</a><br/>
            Créer un compte : <a href='/signup'>Cliquez ici</a><br/>
        {% endif %}
        <!-- Ici on s'occupe d'afficher les erreurs correspondants à des valeurs -->
        {% if erreur == 1 %}
            <b>Erreur : Date déjà utilisée.</b>
        {% elseif erreur == 2 %}
            <b>Erreur : Pas de titre.</b>
        {% elseif erreur == 3 %}
            <b>Erreur : Pas de date de début.</b>
        {% elseif erreur == 4 %}
            <b>Erreur : Pas de date de fin.</b>
        {% elseif erreur == 5 %}
            <b>Erreur : L'heure de début est après ou en même temps que l'heure de fin.</b>
        {% elseif erreur == 6 %}
            <b>Erreur : Aucun jour n'est rentré.</b>
        {% elseif erreur == 7 %}
            <b>Erreur : Problème de recherche dans la base de données. Veuillez réessayer.</b>
        {% elseif erreur == 8 %}
            <b>Erreur : Un événement est déjà présent au niveau de cette plage horaire.</b>
        {% elseif erreur == 9 %}
            <b>Erreur : Vous n'êtes pas le créateur de cet événement. Interdiction de le supprimer.</b>
        {% endif %}
        <br>
        <b><div id="titre">Calendrier :</div></b> <br>
        <!-- Liens vers les semaines précédente, suivante, ou la semaine actuelle-->
        <a id="sem_prec">Semaine précédente</a>
        <a id="sem_cour" href="/">Semaine courante</a>
        <a id="sem_suiv">Semaine suivante</a>
        <br>
        <br>
        <table id="styleCalendrier">
            <!-- Les formulaires d'effacement ou d'ajout d'événements, qui sont cachés tant qu'on ne clique pas sur une case du calendrier (Si case occupée,
            on affiche le formulaire d'effacement d'événement, sinon le formulaire d'ajout). -->
            <div class="cache" id="formulaireEffacer"><b>Voulez vous effacer cet événement? </b> <br>
                <a id="formEffClose"></a>
                <form action="/effacer" method="post">
                    <br>
                    {% if evenements != undefined %}
                        Evenements :
                        <select name="id">
                        {% for i in 0..evenements.length-1 %}
                            <option>{{evenements[i].id}}</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                    
                    <br>
                    <input type="submit" /> 
                </form>
            </div>
            <div class="cache" id="formulaire"><b>Remplissez le formulaire pour ajouter un événement :</b> <br>
                <a id="formClose"></a>
                <form action="/ajouter" method="post">
                    <br>
                    Titre:  <input type="text" name="titre" value="Choisissez un titre"></input><br/>
                    Jour : 
                    <select id="formjour" name="jour">
                        <!--<option>Ajout par javascript</option>-->
                    </select><br/>
                    Début : 
                    <select name="debut">
                    {% for j in 0..23 %}
                        {% for i in 0..1 %}
                            <option>
                            {% if j < 10%}0{% endif %}{{j}}:{% if i < 1 %}0{% endif %}{{i*30}}:00
                            </option>
                        {% endfor %}
                    {% endfor %}
                    </select><br/>
                    Fin : 
                    <select name="fin">
                    {% for j in 0..23 %}
                        {% for i in 0..1 %}
                            <option>
                            {% if j < 10%}0{% endif %}{{j}}:{% if i < 1 %}0{% endif %}{{i*30}}:00
                            </option>
                        {% endfor %}
                    {% endfor %}
                    </select>
                    <br>
                    <input type="submit"/> 
                    <br>
                </form>
            </div>
        </table>
        <!-- Script qui va générer le calendrier puis afficher les événements -->
        <script>
            //Mois
            var mois = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'];
            //Premier jour de la semaine
            {% if date_ref != undefined %}
            var date_ref_str = "{{ date_ref }}";
            console.log("date_ref_str : " + date_ref_str);
            //var date_split = date_ref_str.split('-');
            //var date_ref = new Date(parseInt(date_split[0]), parseInt(date_split[1]), parseInt(date_split[2]));
            var date_ref = new Date(date_ref_str);
            {% else %}
            var date_ref = new Date(); //today
            {% endif %}
            console.log("date_ref : " + date_ref.toDateString());
            var day_offset = (date_ref.getDay()==0?6:date_ref.getDay()-1);
            var d = new Date(date_ref.getFullYear(), date_ref.getMonth(), date_ref.getDate());
            d.setDate(date_ref.getDate() - day_offset);
            console.log("d : " + d.toDateString());
            //Ajout des options de jours pour l'ajout d'un evenement
            var formjour = document.getElementById("formjour");
            var dates = []; //tableau d'objets Date pour les dates de la semaine
            var jours = []; //tableau de strings de dates de la semaine sous la forme YYYY-MM-DD
            for (var i = 0; i < 7; i++) {
                dates[i] = new Date(d.getFullYear(), d.getMonth(), d.getDate());
                console.log("dates[" + i + "] : " + dates[i].toDateString());
                var curr_opt = document.createElement("option");
                jours[i] = d.getFullYear() + '-' + (d.getMonth()+1<10?'0':'') + (d.getMonth()+1) + '-' + (d.getDate()<10?'0':'') + d.getDate();
                var curr_tn = document.createTextNode(jours[i]);
                curr_opt.appendChild(curr_tn);
                formjour.appendChild(curr_opt);
                d.setDate(d.getDate() + 1);
            }
            //Liens vers la semaine suivante et la semaine precedente
            var date_ref_prec = new Date(dates[0].getFullYear(), dates[0].getMonth(), dates[0].getDate());
            date_ref_prec.setDate(dates[0].getDate()-7);
            console.log("date_ref_prec : " + date_ref_prec.toDateString());
            document.getElementById("sem_prec").setAttribute("href", "/?date_ref="+date_ref_prec.getFullYear()+"-"+(date_ref_prec.getMonth()+1<10?'0':'')+(date_ref_prec.getMonth()+1)+"-"+(date_ref_prec.getDate()<10?'0':'')+date_ref_prec.getDate());
            var date_ref_suiv = new Date(dates[0].getFullYear(), dates[0].getMonth(), dates[0].getDate());
            date_ref_suiv.setDate(dates[0].getDate()+7);
            console.log("date_ref_suiv : " + date_ref_suiv.toDateString());
            document.getElementById("sem_suiv").setAttribute("href", "/?date_ref="+date_ref_suiv.getFullYear()+"-"+(date_ref_suiv.getMonth()+1<10?'0':'')+(date_ref_suiv.getMonth()+1)+"-"+(date_ref_suiv.getDate()<10?'0':'')+date_ref_suiv.getDate());
            //Affichage de la semaine courante
            var curr_tn = document.createTextNode(" Semaine du " + dates[0].getDate() + " " + mois[dates[0].getMonth()] + (dates[0].getFullYear()==dates[6].getFullYear()?'':' ' + dates[0].getFullYear() + ' ') + " au " + dates[6].getDate() + " " + mois[dates[6].getMonth()] + " " + dates[6].getFullYear());
            document.getElementById("titre").appendChild(curr_tn);
            //Heures
            var heures = [];
            for (var i = 0; i < 24; i++) {
                var heure = (i<10 ? "0" : "") + i + ":00";
                heures.push(heure);
                heure = (i<10 ? "0" : "") + i + ":30";
                heures.push(heure);
            }
            //Calendrier
            var calendrier = document.getElementById("styleCalendrier");
            for (var i = 0; i < 49; i++) {
                curr_tr = document.createElement("tr");
                for (var j = 0; j < 8; j++) {
                    var curr_td = document.createElement("td");
                    if (i == 0) {
                        if (j == 0) {
                            curr_td.setAttribute("id", "vide");
                        }
                        else {
                            var curr_tn = document.createTextNode((dates[j-1].getDate()<10?'0':'') + dates[j-1].getDate() + "/" + (dates[j-1].getMonth()+1<10?'0':'') + (dates[j-1].getMonth()+1));
                            curr_td.appendChild(curr_tn);
                        }
                    }
                    else {
                        curr_tr.setAttribute("class", "lignes");
                        if (j == 0) {
                            curr_td.setAttribute("class", "horaires");
                            var curr_tn = document.createTextNode(heures[i-1]);
                            curr_td.appendChild(curr_tn);
                        }
                        else {
                            curr_td.setAttribute("class", "colonnes");
                        }
                    }
                    curr_tr.appendChild(curr_td);
                }
                calendrier.appendChild(curr_tr);
            }
            //Evenements
            {% if evenements != undefined %}
            var evenements = {{ evenements|json_encode|raw }};
            for (var i = 0; i < evenements.length; i++) {
                for (var j = 0; j < 7; j++) {
                    if (jours[j] == evenements[i].jour.split("T")[0]) {
                        break;
                    }
                }
                if (j != 7) {
                    for (var k = 0; k < 48; k++) {
                        var horaire = heures[k] + ":00";
                        if (horaire >= evenements[i].debut) {
                            break;
                        }
                    }
                    for (var l = k+1; l < 48; l++) {
                        horaire = heures[l] + ":00";
                        if (horaire >= evenements[i].fin) {
                            break;
                        }
                    }
                }
                if ((j!=7) && (k != 48) && (l != 48)) {
                    console.log("jour : " + j + ", debut : " + k + ", fin : " + l);
                    var curr_td = document.querySelector('#styleCalendrier>tr:nth-child(' + (k+2) + ')>td:nth-child(' + (j+2) + ')');
                    curr_td.setAttribute("class", "occupe");
                    curr_td.setAttribute("id", "premiereCase");
                    
                    if(k + 1 == l)
                        curr_td.setAttribute("id", "derniereCase");
                    var curr_tn = document.createTextNode(evenements[i].titre + "("+evenements[i].login+")");
                    curr_td.appendChild(curr_tn);
                    k++;
                    while (k != l) {
                        curr_td = document.querySelector('#styleCalendrier>tr:nth-child(' + (k+2) + ')>td:nth-child(' + (j+2) + ')');
                        curr_td.setAttribute("class", "occupe");
                        if(k + 1 == l)
                            curr_td.setAttribute("id", "derniereCase");
                        k++;
                    }
                }
            }
            {% endif %}
            //AJAX
            var xhr = new XMLHttpRequest();
            xhr.open("GET",'/liste',true);
            xhr.responseType = 'json';
            xhr.onload=function()
            {
                var r = xhr.response;
                for (var i = 0; i < r.length; i++) {
                    console.log("Ev " + i + " :");
                    console.log(r[i].debut);
                    console.log(r[i].fin);
                    console.log(r[i].jour);
                    console.log(r[i].login);
                    console.log(r[i].titre);
                    console.log(r[i].id);
                }
            }
            xhr.send();
        </script>
        
    </body>
</html>